/*============NAV-BOX==============*/
.navigation{
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: #f1f1f1;
    position: relative;

    .nav-logo{
        width: 15%;

        img{
            width: 100%;
            height: 45px;
            object-fit: contain;
        }

    }

    .nav-content{
        width: 55%;
        justify-content: center;
        align-items: center;

        li{
            list-style-type: none;
            padding-left: 20px;

            a{
                padding: 5px 2px;
                text-decoration: none;
                color: #333333;
                font-size: 0.8rem;
                text-transform: uppercase;
                position: relative;
                cursor: pointer;
                z-index: 0;
                transition: all 0.4s ease;
            }

        }


    }
    .nav-toggler{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        text-align: left;
        z-index: 5;
        width: 120px;

        li{
            display: flex;
            padding-left: 10px;
            justify-content: space-between;
            align-items: center;
            background-color: #FF7550;
            transition: all 0.4s linear;
            transform: translateX(-180px);

            span{
                display: flex;
                @extend %centerContent;
                background-color: #9D9D9D;
                width: 45px;
                height: 45px;
                cursor: pointer;
                color: #f1f1f1;
            }
            a{
                display: flex;
                text-decoration: none;
                color: #333333;
                .fas{
                    align-self: flex-end;
                }

            }

        }
        li:hover{
            transform: translateX(-75px);
        }

    }
    
    .nav-bar-btn{
        display: none;
        text-align: center;
        .nav-bar-icon{
           /* .fas{
                color: darkred;
            }*/
                
                width: 50px;
                height: 60px;
                border-radius: 5px;
            .nav-oplose{
                width: 100%;
                height: 100%;
                position: relative;
                background-color: #fff00f;
                transition: all 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
            }
/*
           .nav-oplose::before, .nav-oplose::after{
                content: "";
                width: 75%;
                height: 10%;
                position: absolute;
                border-radius: 5px;
                transition: all 0.3s ease;
            }
*/
            .nav-oplose::before{
                content: "";
                width: 75%;
                height: 10%;
                position: absolute;
                border-radius: 5px;
                transition: all 0.3s ease;
                background-color: #FF7550;
                box-shadow: 0 15px 0 0 #FF7550;
                transform: translateY(-15px);

            }

            .nav-oplose::after{
                content: "";
                width: 75%;
                height: 10%;
                position: absolute;
                border-radius: 5px;
                transition: all 0.3s ease;
                background-color: #FF7550;
                transform: translateY(15px);
            }
            .nav-oplose.active::before{
                box-shadow: none;
                transform: translateY(0px) rotate(45deg);

            }
            .nav-oplose.active::after{
                transform: translateY(0px) rotate(-45deg);
            }

        }

    }
    
    .nav-icon{
        width: 30%;
        justify-content: flex-end;
        align-items: center;
        a{
            text-decoration: none;
            margin-left: 20px;
            font-size: 1rem;
            .fab{
                transition: all 0.3s ;
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgb(0, 0, 0);
            }
        }
        .sing-in{
            border-radius: 3px;
            background-color: #FEE133;
            color: #000;
            padding: 25px 15px;
            align-self: flex-end;
            display: inline-block;
            transition: all 0.3s linear;
        }
    } 
}
/*
    .fa{
   ccolor: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-olor: red;
 } fot makin outline of font awesome

*/

