.offer-box{
    width: 100%;
    padding: 200px 0;
    min-height: 350px;
    position: relative;
    background-image: url(../image/jpg/bgparallax-02.jpg);
    background-attachment: fixed;
    @extend %bgProperty;
    z-index: 0;
    h2{
        color: #f1f1f1;
        padding-top: 70px;
    }
    p{
        color: #f1f1f1;
        padding-bottom: 70px;
    }
    .offer-btn{
        @extend %commonButton;
        background-color: #FF7550;
        color: #f1f1f1;
    }
}

